@tailwind base;
@tailwind components;
@tailwind utilities;

.saira {
  font-family: "Saira Extra Condensed", sans-serif;
}

.banner {
  background-image: url("/images/backdrop.webp");
  background-size: contain;
  background-repeat: repeat-x;
  min-width: 1080px;
}

.overlay {
  width: 1080px;
}
